.chat {
    border-radius: 24px;
    max-width: 741px;
    min-width: 520px;
    width: 100%;
    border: 1px solid #363F54;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    &__header {
        border-bottom: 1px solid #363F54;
        padding: 16px 24px;
        display: flex;
        align-items: center;
        &-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 16px;
            line-height: 125%;
            color: var(--white);
            position: relative;
            height: 50px;
            margin-left: 62px;
            margin-right: auto;
            &::before {
                content: "";
                display: inline-block;
                height: 50px;
                width: 50px;
                position: absolute;
                left: -62px;
                background: url('./img/Icon-avatar.svg') center/ 100% no-repeat;
            }

            span {
                font-size: 14px;
                line-height: 130%;
                color: var(--blue-5);
            }
        }
        &-checkbox {
            display: flex;
            gap: 12px;
            font-size: 14px;
            line-height: 130%;
            color: var(--white);
            position: relative;
            &::after {
                content: "";
                display: inline-block;
                height: 20px;
                width: 20px;
                border-radius: 2px;
                border: 1px solid var(--white);
                background-color: var(--grey-1);
            }
            &:has(input:checked) {
                &::after {
                    border: 1px solid var(--blue-1);
                    background: url("./img/true.svg") center/ 14px no-repeat, var(--blue-1);
                }
            }
        }

        &-box {
            position: absolute;
            right: 0;
            top: 0;
            height: 20px;
            width: 20px;
            opacity: 0;
            z-index: -1;
        }
    }

    &__wrapper-block {
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &__message-block {
        padding: 24px;
        overflow: auto;
        height: 421px;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    &__wrapper-input {
        position: relative;
        padding: 0 24px;
    }
    &__input {
        border: 1px solid #363F54;
        border-radius: 10px;
        height: 66px;
        width: 100%;
        background-color: var(--bg-main);
        font-size: 14px;
        line-height: 130%;
        color: var(--white);
        padding: 14px 60px 14px 20px;
        font-weight: 500;

        &::placeholder {
            color: var(--blue-5);
        }
    }

    &__button {
        height: 38px;
        width: 38px;
        padding: 10px;
        box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
        transition: all 0.2s linear;
        border-radius: 8px;
        position: absolute;
        right: 44px;
        top: 14px;
        background: url("./img/Icon_send.svg") center/ 18px no-repeat, var(--blue-1);
        &:hover {
            background: url("./img/Icon_send.svg") center/ 18px no-repeat, var(--blue-2);
        }
        
        &:active {
            transform: translateY(3px);
            background: url("./img/Icon_send.svg") center/ 18px no-repeat, var(--blue-3);
        }
    }
}

.message {
    position: relative;
    max-width: 450px;
    width: max-content;
    opacity: 0;
    animation: move-message 0.5s linear 0.5s forwards;

    &__my {
        margin-left: auto;
        .message__text {
            border-radius: 10px 10px 0px 10px;
            margin-right: 50px;
            background-color: var(--blue-1);
            &::after {
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                position: absolute;
                right: 0;
                bottom: 0;
                background: url("./img/Img_default-avatar.svg") center/ 100% no-repeat;
            }
        }
    }

    &__bot {
        margin-right: auto;
        .message__text {
            border-radius: 10px 10px 10px 0px;
            margin-left: 50px;
            background-color: var(--grey-1);
            &::before {
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: url("./img/Icon_gemini.svg") center/ 100% no-repeat;
            }
        }
    }
    &__text {
        overflow-wrap: anywhere;
        padding: 14px 16px;
        font-size: 16px;
        line-height: 125%;
        color: var(--white);
        display: flex;
    }

}

@keyframes move-message {
    0% {
        top: 10px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .chat {
        max-width: 100%;
        min-width: auto;
        height: auto;
    }

    .message {
        &__text {
            font-size: 14px;
        }
    }
}

@media (max-width: 640px) {
    .chat {
        &__header {
            flex-direction: column;
            align-items: start;
            gap: 14px;
            padding: 16px 18px;

            &-name {
                font-size: 14px;
                span {
                    font-size: 12px;
                }
            }
            &-checkbox  {
                flex-direction: row-reverse;
            }
            &-box {
                left: 0;
            }
        }
        &__wrapper-block{
            padding-bottom: 18px;
        }
        &__message-block {
            padding: 18px;
            height: 360px;
        }
        &__wrapper-input {
            padding: 0 18px;
        }
        &__button { 
            right: 38px;
        }
    }
    .message {
        max-width: none;
        width: 100%;
    }
}
