@import "./null-style";
@import "./fonts/fonts";
@import "../components/Layout/Header/header";
@import "../components/MainPage/Descr/descr";
@import "../components/MainPage/Gener/gener";
@import "../components/Layout/Footer/footer";

:root {
    --bg-main: #121825;
    --grey-1: #313E62;
    --grey-2: #9ca3af6b;
    --grey-3: #222B44;
    --white: #FFFFFF;
    --blue-1: #1C64F2;
    --blue-2: #073CA4;
    --blue-3: #0E3176;
    --blue-4: #4785FF;
    --blue-5: #616D8D;
    --black-1: #0E0C15;
}

* {
    font-family: IBM Plex Sans;
}

html, body {
    height: 100%;
}

#root {
    background-color: var(--black-1);
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 375px;
}

.padding-content {
    padding: 0 40px;
    max-width: 1370px;
    margin: 0 auto;
}

.main {
    padding-top: 100px;
}

@media (max-width: 640px) {
    .padding-content {
        padding: 0 16px;
    }
}