.descr {
    margin-bottom: 86px;
    position: relative;
    z-index: 5;
    &__wrapper {
        @extend .padding-content;
    }
    &__content {
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 42px;
        font-size: 34px;
        text-align: center;
        color: var(--white);
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 30px;
    }
    &__item {
        min-height: 260px;
        padding: 28px 24px 26px;
        border-radius: 12px;
        background: radial-gradient(80% 70% at 0px 0px, rgba(28, 100, 242, 0.38) 9.34%, rgba(0, 0, 0, 0) 100%), rgb(18, 24, 37);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 12px;
            background: linear-gradient(135deg, rgba(28, 100, 242, 0.8) 9.339%,rgba(0, 0, 0, 0) 35%);
            padding: 1px;
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude; 
        }
    }
    &__item-title {
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 130%;
        font-size: 22px;
        color: var(--white);
    }
    &__item-text {
        font-size: 16px;
        line-height: 125%;
        color: var(--white);
    }

}

@media(max-width: 1200px) {
    .descr {
        margin-bottom: 74px;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            margin-bottom: 38px;
            font-size: 30px;
        }
        &__list {
            grid-template-columns: repeat(2, minmax(48%, max-content));
            gap: 24px;
        }
        &__item {
            padding: 24px 18px 26px;
            min-height: 222px;
            max-width: 410px;
        }
        &__item-title {
            margin-bottom: 14px;
            font-size: 20px;
        }

        &__item-text {
            font-size: 14px;
        }
    }
}

@media(max-width: 768px) {
    .descr {
        margin-bottom: 64px;
        &__title {
            margin-bottom: 30px;
            font-size: 24px;
        }
        &__list {
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 16px;
            min-height: 244px;
        }
        &__item-title {
            text-align: center;
            margin-bottom: 10px;
            font-size: 18px;
        }

        &__item-text {
            font-size: 14px;
            text-align: center;
        }
    }
}
