.header {
    backdrop-filter: blur(18px);
    border-bottom: 1px solid var(--grey-3);
    background: var(--bg-main);
    &__wrapper {
        @extend .padding-content;
    }
    &__content {
        height: 80px;
        padding: 20px 0;
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: 24.5px;
        transition: all 0.2s linear;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
    &__line {
        margin-right: 23.5px;
        border-left: 1px solid var(--grey-3);
        height: 34px;
    }
    &__nav {
        margin-right: auto;
    }
    &__block-link {
        display: flex;
        gap: 34px;
    }
    &__dropdown {
        position: relative;
        .header__link {
            display: flex;
            align-items: center;
            &::after{
                content: "";
                display: inline-block;
                height: 16px;
                width: 16px;
                margin-left: 8px;
                transition: transform 0.2s linear;
                background-color: var(--white);
                -webkit-mask-image: url("./img/Icon_arrow-down.svg");
                mask-image: url("./img/Icon_arrow-down.svg");
            }
            &:hover {
                &::after{
                    background-color: var(--blue-1);
                }
            }
        }
    }

    &__dropdown_active {
        .header__link {
            color: var(--blue-4);
            &:hover {
                color: var(--blue-4);
                &::after{
                    background-color: var(--blue-4);
                }
            }
            &::after{
                transform: rotateZ(-180deg);
                background-color: var(--blue-4);
            }
        }
        .header__wrapper-product {
            transform: scale(1);
            opacity: 1;
        }
    }
    &__wrapper-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px 40px;
        top: 42px;
        position: absolute;
        padding: 20px;
        width: 700px;
        background-color: var(--grey-3);
        border-radius: 17px;
        transform: scale(0.0001);
        transform-origin: left top;
        transition: all 0.1s linear;
        opacity: 0;
    }
    &__product {
        padding: 14px;
        display: flex;
        gap: 14px;
        border-radius: 10px;
        cursor: pointer;
        & * {
            cursor: pointer;
        }
        transition: all 0.2s linear;
        &:hover {
            background-color: var(--grey-2);
        }
        &-name {
            margin-bottom: 4px;
            font-size: 16px;
            line-height: 125%;
            font-weight: 600;
            color: var(--white);
        }
        &-text {
            font-size: 12px;
            line-height: 130%;
            font-weight: 400;
            color: var(--white);
        }
    }
    &__link {
        line-height: 22px;
        font-size: 16px;
        font-weight: 600;
        color: var(--white);
        cursor: pointer;
        &:hover {
            color: var(--blue-1);
        }
    }
    &__lang {
        position: relative;
        margin-right: 34px;
        &-select {
            display: flex;
            align-items: center;
            background: initial;
            @extend .header__link;
            &::before{
                content: "";
                display: inline-block;
                height: 18px;
                width: 18px;
                margin-right: 6px;
                background-color: var(--white);
                -webkit-mask-image: url("./img/Icon_lang.svg");
                mask-image: url("./img/Icon_lang.svg");
            }
            &::after{
                content: "";
                display: inline-block;
                height: 16px;
                width: 16px;
                margin-left: 8px;
                transition: transform 0.2s linear;
                background-color: var(--white);
                -webkit-mask-image: url("./img/Icon_arrow-down.svg");
                mask-image: url("./img/Icon_arrow-down.svg");
            }
            &:hover {
                &::after,
                &::before{
                    background-color: var(--blue-1);
                }
            }  
        }
        &-block {
            transform: scale(0.0001);
            transform-origin: center top;
            transition: all 0.1s linear;
            opacity: 0;
            width: 78px;
            top: 42px;
            padding: 16px 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 12px;
            border-radius: 8px;
            position: absolute;
            border: 1px solid var(--grey-1);
            background-color: var(--grey-3);
        }
        &-item {
            @extend .header__link;
        }
    }
    &__lang_active {
        .header__lang-select {
            color: var(--blue-4);
            &:hover {
                color: var(--blue-4);
                &::before,
                &::after{
                    background-color: var(--blue-4);
                }
            }
            &::before {
                background-color: var(--blue-4); 
            }
            &::after{
                transform: rotateZ(-180deg);
                background-color: var(--blue-4);
            }
        }
        .header__lang-block {
            transform: scale(1);
            opacity: 1;
        }
    }
    &__sign-in {
        width: 131px;
        height: 40px;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        color: var(--white);
        box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
        background: var(--blue-1);
        transition: all 0.2s linear;

        &:hover {
            background: var(--blue-2);
        }
        
        &:active {
            background: var(--blue-3);
        }
    }
}
